@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container-2 {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  height: 700px;
  background-image: url(../images/Bitmap.png);
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 46px;
}

.nav__logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.authorization {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 5px;
  margin-right: 42px;
}

.authorization__in {
  padding-right: 16px;
}

.authorization__up {
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 7px 15px 7px 15px;
}

.authorization__up:hover {
  background-color: #ffffff;
  color: #444444;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 154px;
}

.block__text1 {
  width: 470px;
  font-weight: 700;
  font-size: 52px;
  font-weight: bold;
  color: #ffffff;
  line-height: 63px;
  text-align: center;
}

.block__text2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #f7f3f2;
  padding-top: 28px;
  padding-bottom: 35px;
}

.block__button {
  width: 225px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: #ff4e50;
  border: 0;
  border-radius: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 17.07px;
  text-align: center;
  cursor: pointer;
}

.block__button:hover {
  background-color: #ffffff;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 89px 0 35px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row__block_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 300px;
  height: 400px;
  background-image: url(../images/Step1.png);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.row__block_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 300px;
  height: 400px;
  background-image: url(../images/Step2.png);
  margin: 0px 20px 0px 20px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.row__block_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 300px;
  height: 400px;
  background-image: url(../images/Step3.png);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 25px 35px 25px;
}

.item-step__icon {
  width: 70px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.19px;
  letter-spacing: 2px;
  color: #ffffff;
  background: #ff4e50;
  border-radius: 40px;
  cursor: pointer;
}

.item-step__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  margin: 24px 0 10px 0;
}

.item-step__text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #e3e3e3;
  margin: 15px 0 -15px 0;
}

.step-block2 {
  padding: 10px 25px 35px 25px;
}

.title-block2 {
  margin: 24px 0 2px 0;
}

.main_partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_partner__button {
  width: 180px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: #ffffff;
  border: 2px solid #ff4e50;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  color: #ff4e50;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  margin-top: 36px;
}

.main_partner__button:hover {
  background-color: #ff4e50;
  color: #ffffff;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.partner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner__block_1 {
  width: 221px;
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.partner__block_2 {
  width: 221px;
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.partner__block_3 {
  width: 221px;
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.partner__block_4 {
  width: 221px;
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

h2 {
  padding: 19px 0 23px 0;
}

.text-1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
  text-align: center;
}

.main_holiday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.holiday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

.holiday__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 310px;
  background-image: url(../images/Sport.png);
  margin: 0 20px 20px 0;
}

.holiday__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 310px;
  background-image: url(../images/Healath.png);
  margin: 0 20px 20px 0;
}

.holiday__box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 310px;
  background-image: url(../images/Extreme.png);
  margin: 0 0 20px 0;
}

.holiday__box4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 310px;
  background-image: url(../images/Games.png);
  margin: 0 20px 20px 0;
}

.holiday__box5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 620px;
  height: 310px;
  background-image: url(../images/Culture.png);
  margin: 0 0 20px 0;
}

.holiday__box6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 620px;
  height: 310px;
  background-image: url(../images/Relaxation.png);
  margin: 0 20px 0 0;
}

.holiday__box7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 310px;
  background-image: url(../images/Trevelling.png);
}

.holiday__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
}

.interests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18px;
}

.interests__text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  color: #666666;
}

.interests__search {
  padding-top: 25px;
  margin-bottom: 92px;
}

.interests input[type="text"]:enabled {
  width: 299px;
  padding: 13px 0 8px 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  margin-right: 6px;
}

.interests input[type="button"] {
  width: 172.12px;
  background-color: #ff4e50;
  padding: 14px 0 9px 3px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
}

hr {
  border: 0px none;
  background-color: #ff4e50;
  height: 2px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 37px;
}

.footer__share {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ff4e50;
  cursor: pointer;
}

.footer__item_1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  margin-top: 2px;
  margin-right: 5px;
}

.footer__ul {
  margin-top: 11px;
}

.footer__link {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}

.footer__item_2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  margin-top: 2px;
  margin-right: 166px;
}

.footer__logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #cccccc;
  text-align: end;
  margin-top: 2px;
  margin-bottom: 7px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 991px;
  }
  .container-2 {
    max-width: 768px;
  }
  .partner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partner__block_1 {
    width: 236px;
    margin-left: 20px;
  }
  .partner__block_2 {
    width: 236px;
    margin-left: 20px;
    margin-top: 35px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .partner__block_3 {
    width: 236px;
    margin-left: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .partner__block_4 {
    width: 236px;
    margin-top: 35px;
    margin-left: 20px;
  }
  .holiday__box1 {
    width: 236px;
  }
  .holiday__box2 {
    width: 236px;
  }
  .holiday__box3 {
    width: 236px;
  }
  .holiday__box4 {
    width: 236px;
  }
  .holiday__box5 {
    width: 492px;
  }
  .holiday__box6 {
    width: 492px;
  }
  .holiday__box7 {
    width: 236px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 766px;
  }
  .container-2 {
    max-width: 320px;
  }
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
  }
  .nav__logo {
    display: none;
  }
  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 282px;
  }
  .block__text1 {
    font-size: 30px;
    line-height: 37px;
  }
  .block__text1::before {
    content: "DREAMSHARE";
    position: absolute;
    top: 235px;
  }
  .block__text2 {
    width: 280px;
    text-align: center;
    font-size: 18px;
    padding-top: 28px;
    padding-bottom: 35px;
  }
  .main__title {
    padding: 34px 0 15px 0;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row__block_1 {
    height: 240px;
  }
  .row__block_2 {
    height: 240px;
    margin: 10px 0px 10px 0px;
  }
  .row__block_3 {
    height: 240px;
  }
  .partner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partner__block_1 {
    width: 236px;
    height: 205px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partner__block_2 {
    width: 236px;
    height: 224px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    margin-top: 16px;
    margin-bottom: 8px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .partner__block_3 {
    width: 236px;
    height: 205px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 16px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .partner__block_4 {
    width: 236px;
    height: 205px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
  }
  .holiday {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    cursor: pointer;
  }
  .holiday__box1 {
    height: 120px;
    margin: 0 0px 10px 0;
  }
  .holiday__box2 {
    height: 120px;
    margin: 0 0px 10px 0;
  }
  .holiday__box3 {
    height: 120px;
    margin: 0 0 10px 0;
  }
  .holiday__box4 {
    height: 120px;
    margin: 0 0px 10px 0;
  }
  .holiday__box5 {
    width: 300px;
    height: 120px;
    margin: 0 0 10px 0;
  }
  .holiday__box6 {
    width: 300px;
    height: 120px;
    margin: 0 0px 10px 0;
  }
  .holiday__box7 {
    height: 120px;
  }
  .interests {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 18px;
  }
  .interests__search {
    padding-top: 15px;
    margin-bottom: 40px;
  }
  .interests input[type="text"]:enabled {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 280px;
    padding: 14px 0 10px 15px;
    margin-right: 0px;
  }
  .interests input[type="button"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 280px;
    padding: 12px 76px 11px 87px;
    margin-top: 10px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 19px;
  }
  .footer__item_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 6px;
  }
  .footer__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1px;
  }
  .footer__link {
    padding-right: 10px;
  }
  .footer__item_2 {
    margin: 0 auto;
  }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 14px;
    margin-bottom: 7px;
  }
}
/*# sourceMappingURL=main.css.map */